/* 
    Document   : account
    Created on : Oct 1, 2012, 4:23:57 PM
    Author     : Luis Salazar <bp.lusv@gmail.com>
    Description: account stylesheet
*/

.acChangePassField {
    margin: 15px 0;
    width: 250px;
}

.acChangePassField > label {
    display: block;
    margin-bottom: 5px;
}

.acChangePassField > input[type="password"] {
    width: 238px;
}

#acChangePassAd {
    margin-bottom: 60px;
    text-align: center;
}

#acChangePassForm {
    height: 320px;
    margin: 0 auto;
    position: relative;
    width: 250px;
}

#acChangePassSave {
    bottom: 0;
    right: 0;
    position: absolute;
}

#acNewPasswordStrength {
    background-color: #fff;
    display: block;
    height: 24px;
    font-size: 11px;
}

#acNewPasswordStrengthBar {
    display: block;
    height: 2px;
}

#acMessages {
    display: none;
}