/* 
    Document   : document
    Created on : May 16, 2012, 9:42:15 AM
    Author     : Luis Salazar <bp.lusv@gmail.com>
    Description: Stylesheet for document.jsp.
*/

@charset "UTF-8";

#dcCommandPanelWrapper {
    height: 86px;
}

#dcDocument {

}

#dcDocumentContent {
    height: auto;
    min-height: 454px;
    width: 748px;
}

#dcLoadDocument {
    left: 0;
    position: absolute;
}

#dcTitle {
    height: 35px;
    margin: 0 auto 25px auto;
    text-align: center;
    width: 500px;
}

#dcUpdateDocument {
    position: absolute;
    right: 0;
}

#dcUpdateForm {
    height: auto;
    position: relative;
}