/* 
    Document   : document
    Created on : May 16, 2012, 9:42:15 AM
    Author     : Luis Salazar <bp.lusv@gmail.com>
    Description: Stylesheet for document.jsp.
*/

@charset "UTF-8";

#dcDocument {

}

#dcDocumentContent {
    height: 390px;
    width: 748px;
}

#dcLoadDocument {
    bottom: 0px;
    left: 0px;
    position: absolute;
}

#dcTitle {
    margin-bottom: 25px;
    text-align: center;
}

#dcUpdateDocument {
    bottom: 0px;
    position: absolute;
    right: 0px;
}

#dcUpdateForm {
    height: 500px;
    position: relative;
}