/* 
    Document   : document
    Created on : May 16, 2012, 9:42:15 AM
    Author     : Luis Salazar <bp.lusv@gmail.com>
    Description: Stylesheet for document.jsp.
*/

#document {
    font: 12px 'Century Gothic', sans-serif;
    height: 364px;
    margin: 30px 0px;
    overflow-y: scroll;
    padding: 0px 30px;
    width: 688px;
}

#load {
    position: relative;
}

#documentForm {
    height: 500px;
}

#save {
    float: right;
}
