.exploreField {
    display: inline;
    margin-right: 25px;
}

.exploreField > label{
    margin-right: 5px;
}

.exploreField > select {
    width: 150px;
}

#category {
    
}

#categoryLabel {
    
}

#concepts {
    height: 450px;
    overflow-y: scroll;
}

#conceptsTable {
    
}

#classification {
    
}

#classificationLabel {
    
}

#doSearch {
    
}

#exploreForm {
    height: 500px;
}

#filters {
    display: block;
    height: 50px;
}

#search {
    
}

#searchLabel {
    
}