/* 
    Document   : explore
    Created on : May 16, 2012, 09:47:20 AM
    Author     : Luis Salazar <bp.lusv@gmail.com>
    Description: Stylesheet for explore.jsp.
*/

@charset "UTF-8";

.exField {
    display: inline-block;
    height: 24px;
    margin: 0 5px;
    position: relative;
}

.exField > label{
    margin-right: 5px;
    vertical-align: middle;
}

.exField > select {
    vertical-align: middle;
}

.exSymbol {
    color: #555;
    display: block;
    font: 13px/30px 'Century Gothic', sans-serif;
    height: 30px;
}

.exSymbol:hover {
    background-color: #ffe0c6;
}

.exSymbol:hover span.overflowEllipsis {
    color: #000;
}

.exSymbol:hover span.removeSymbol {
    visibility: visible;
}

.exSymbol span.overflowEllipsis {
    background-color: transparent;
    border-right: 1px solid #fff;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    width: 171px;
}

.exSymbol span.removeSymbol {
    color: #777;
    display: block;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    width: 20px;
}

.exSymbol span.removeSymbol:hover {
    color: #000;
}

#exCategory {
    width: 198px;
}

#exCategoryLabel {

}

#exClassification {
    width: 148px;
}

#exClassificationLabel {
    
}

#exCommandPanelTop {
    height: 35px;
    margin-bottom: 25px;
    overflow: hidden;
}

#exCommandPanelWrapper {
    height: 170px;
}

#exEmptySymbolsListMessage {
    color: #dedede;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin-left: -110px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 220px;
}

#exFilters {
    display: block;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    width: auto;
}

#exForm {
    position: relative;
}

#exMain {
    min-height: 450px;
    position: relative;
}

#exManageProjects {
    float: right;
}

#exManageSymbol {
    margin-left: 290px;
    width: 100px;
}

/*
#exProjectReport {
    display: block;
    margin-bottom: 5px;
}
*/
#exProjectReportField {
    float: left;
}

#exProjectReportComments {
    margin-left: 15px;
}

#exProjectReportCommentsCheck {
    height: 17px;
    vertical-align: text-bottom;
}

#exSearch {
    background: url('../img/searchIcon.png') no-repeat left center;
    background-color: #fff;
    padding-left: 25px;
    padding-right: 18px;
    width: 100px; 
}

#exSearchClear {
    color: #777;
    cursor: default;
    font: 19px/30px 'Century Gothic', sans-serif;
    height: 30px;
    right: 0px;
    padding-right: 6px;
    position:absolute;
    visibility: hidden;
}

#exSearchClear:hover {
    color: #000;
}

#exSymbolsList {
    list-style-type: none;
}

#exSymbolsListHeader {
    height: 19px;
    margin-bottom: 25px;
    overflow: hidden;
    padding-right: 20px;
    width: 728px;
}

#exSymbolsListHeader span {
    border-right: 1px solid #eee;
    float: left;
    text-align: center;
    width: 181px;
}