/* 
    Document   : loadProject
    Created on : May 29, 2012, 9:20:57 AM
    Author     : Luis Salazar <bp.lusv@gmail.com>
    Description: Stylesheet for loadProject.jsp.
*/

@charset "UTF-8";

.loadField {
    margin: 0px auto;
    text-align: center;
}

.title {
    margin-bottom: 50px;
    text-align: center;
}

#project {
    border: none;
    display: block;
    height: auto;
    margin: 0 auto;
    overflow-x: visible;
    overflow-y: auto;
    width: 600px;
}

#project option {
    display: block;
    overflow: visible;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#project option:nth-of-type(odd) {
    background: #f9f9f9;
}

#load {
    position: absolute;
    bottom: 0px;
    right: 0px;
}


#loadForm {
    height: 325px;
    position: relative;
}

#name {
    display: inline-block;
    width: 200px;
}

#nameLabel {

}

#newForm {
    height: 150px;
    position: relative;
}

#save {
    bottom: 0px;
    position: absolute;
    right: 0px;
}