/* 
    Document   : manageProyects
    Created on : May 29, 2012, 9:20:57 AM
    Author     : Luis Salazar <bp.lusv@gmail.com>
    Description: Stylesheet for loadProject.jsp.
*/

@charset "UTF-8";

.mpField {
    margin: 0 auto;
    text-align: center;
    width: 350px;
}

.mpTitle {
    margin-bottom: 25px;
    text-align: center;
}

#mpCreateProject {
    bottom: 0px;
    position: absolute;
    right: 0px;
}

#mpEmptyProjectsListMessage {
    color: #dedede;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin-left: -110px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 220px;
}

#mpLoadProject {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#mpLoadForm {
    height: auto;
    min-height: 325px;
    position: relative;
}

#mpNewProjectName {
    
}

#mpNewProjectNameLabel {

}

#mpCreateForm {
    height: 110px;
    position: relative;
}

#mpProjectsList {
    list-style-type: none;
    margin: 0;
    min-height: 150px;
    position: relative;
}

#mpProjectsList > li {
    padding: 10px;
    width: 728px;
}

#mpProjectsList > li:hover {
    background-color: #ffe0c6;
}

#mpProjectsList > li:hover .options {
    visibility: visible;
}

#mpProjectsList > li .description {
    color: #666;
    font: 14px 'Century Gothic', sans-serif;
    margin: 10px 0;
}

#mpProjectsList > li .options {
    font-size: 0;
    height: 35px;
    text-align: center;
    visibility: hidden;
}

#mpProjectsList > li .options > a {
    margin: 0 7px;
}

#mpProjectsList > li .title {
    text-align: center;
}